d.PokeFlex {
    display:flex;
    /* display: grid; */
    /* grig-template-columns: 50px 50px; */
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blueviolet;
    width: 400px;
    height: 400px;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    height: 80px;
}
